@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

html, body {
    background-color: darkgray;
    min-height: 100vh;
}

header {
    text-align: center;
    display: block;
    background-color: black;
    color: white;
}

header > h1 {
    font-family: "Passion one", serif;
    font-weight: light;
    font-size: 5em;
    padding-top: 50px;
    font-variant: small-caps;
}

header > p {
    padding-bottom: 50px;
}
a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}

a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgb(49, 49, 49);
    color: white;
}

section.imagem > p {
    width: 400px;
    background-color: rgba(0, 0, 0, 0.192);
}
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}