@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');


:root {
    --fonte01: Verdana, Geneva, Tahoma, sans-sefif;
    --fonte02: "Passion one", cursive;
    --fonte03: "Scriracha", cursive;
}
* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

html, body {
    background-color: darkgray;
    min-height: 100vh;
    font-family: var(--fonte01);
}

header {
    text-align: center;
    display: block;
    background-color: black;
    color: white;
}

header > h1 {
    font-weight: light;
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte02);
    font-size: 10vw;
}

header > p {
    padding-bottom: 50px;
}
a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}

a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte03);
    font-size: 3vw;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgb(49, 49, 49);
    color: white;
}

section.imagem > p {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.192);
    padding: 10px;
}
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}