@charset "UTF-8";

body {
    background-color: rgb(203, 255, 227);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(19, 170, 77);
}

h1#principal {
    text-align: center;
}

h2 {
    color: rgb(72, 92, 72);
}

.basico {
    color: green;
}

.intermediario {
    color: red;
}

.avancado {
    color: yellow;
}

.destaque {
    background-color: maroon;
}